{% extends 'gdz/base.html' %}
{% load static %}

{% block title %}
    {{title}}
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="border border-secondary rounded bg-white">
            <ul class="nav nav-pills nav-fill border-bottom border-secondary" id="lesson-container">
                {% for l in lessons %}
                    <li class="nav-item">
                        <button class="nav-link text-secondary" onclick="lesson_click(event)">{{l}}</button>
                    </li>
                {% endfor %}
            </ul>

            <ul id="klasses-container" class="nav nav-pills nav-fill border-bottom border-secondary">
            </ul>

            <div id="books-container" class="container py-3">
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    {{ klasses|json_script:"klasses_data" }}
    {{ books|json_script:"books_data" }}
    <script type="text/javascript" src="{% static 'gdz/js/index.js' %}"></script>
{% endblock script %}